@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');
* {
    list-style-type: none;
}
body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 26pt;
    font-family: 'Bilbo Swash Caps', cursive;
}

.empty-whisky {
    display: none;
}
.whisky, .inkpen, .pages {
    display: flex;
    filter: drop-shadow(15px 15px 5px var(--shadow));
    display: inline;
}

.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
    align-items: center;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

p {
    font-size: 20px;
}

p.click {
    font-size: 20px;
    text-align: center;
}
.line1, .line2 {
    display: flex;
    background-color: whitesmoke;
    height: 20px;
    width: 250px;
    align-items: center;
}

.click {
    display: flex;
    background-color: whitesmoke;
    margin-top: 20px;
    height: 20px;
    width: 50px;
    align-self: auto;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

.namelist, .pricelist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;  
}
li {
    font-size: 20px;
    text-align: right;
}

.titre {
    font-size: 20px;
    text-align: center;
}
.inkpen {
    display: flex;
    justify-content: right;
}